@import "../../assets/styles/_mixins.scss";

.table {
  &__container {
    border: solid $border;
    border-radius: 8px;
    padding: 0 12px 12px 12px;
    overflow: auto;
    position: relative;
    height: calc(100vh - 127px);
  }

  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__row {
    border-bottom: solid $border;
    display: flex;
    width: 100%;

    &:hover,
    &:focus {
      background-color: $primary-color-hover;
    }
  }

  &__cell {
    display: flex;
    padding: 12px;
  }
}
